# Python
fastapi-env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

fastapi-env

TerraformDeployment/Lambda_function/lambda_function.zip

terraform.tfstate
terraform.tfstate.backup

# Node.js
node_modules/
*.log

# Environment files
.env
.env.*

# MacOS
.DS_Store

# Editor files
.vscode/
.idea/
